# Node dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables & secrets
.env

# Editor/OS config
.vscode/
.DS_Store

# Docker override config
docker-compose.override.yml
Dockerfile

# Log files
*.log
